a{
    text-decoration: none;
    color: #fff;
}
.twxtt p, p i{
    color:#414141;
}
.twxtt input{
    width: 95px;
}
.input{
    width: 70px;
}
.img img{
height:194px;
}
.collaction{
    height: 417px;
}
#display-5{
    display: none;
}
#displaay-show-1,#displaay-show-2,#displaay-show-3,#displaay-show-4,#displaay-show-5,#displaay-show-6{
    display: none;
}